body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.float-right{
  float: right;
}

.parent-div{
  width: 90%;
  margin-left: 5%;
  margin-top: 10px;
}
.display-flow-root {
  display: flow-root;
}
.bp3-portal{
  pointer-events: none;
}
